@import "../../utils/vars.scss";

.order_score {
  &__order {
    padding: 30px;
    gap: 40px;
    width: 415px;
    // height: 544px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    border: 1px solid $burgundy;
  }

  &__title {
    font-size: 36px;
    color: $burgundy;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
  }

  &__info {
    display: flex;
    // justify-content: space-between;
    gap: 46px;
    justify-content: space-between;

    &__couple {
      display: flex;
      gap: 46px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__text {
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      color: $light-gray;
      max-width: 165px;
    }

    &__price {
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      color: $main-gray;
    }
  }

  &__total {
    display: flex;
    gap: 110px;

    &__text {
      color: $main-gray;
      font-size: 24px;
      font-weight: 500;
      line-height: 18px;
    }

    &__price {
      color: $main-gray;
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  &__button {
    display: flex;
    align-self: center;
  }

  &__count {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__amount {
    display: flex;
    justify-content: space-between;
    gap: 127px;

    &__text {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      color: $main-gray;
    }

    &__price {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      color: $main-gray;
    }
  }
}
