.product_card__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.product_card__wrapper__big {
  position: relative;
  /* Required for Image `fill` */
  width: 100%;
  /* Full width of its container */
  max-width: 580px;
  /* Large size for big screens */
  height: auto;
  aspect-ratio: 1 / 1;
  /* Keeps the container square */
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 90%;
    /* Reduce size on small screens */
    aspect-ratio: 4 / 3;
    /* Adjust aspect ratio for better fit */
  }

  @media (max-width: 480px) {
    max-width: 100%;
    /* Full width on very small screens */
    aspect-ratio: 16 / 9;
    /* Make it more rectangular if needed */
  }
}

.product_card__img__big {
  object-fit: contain;
  /* Ensures the image fits nicely within its container */
  border-radius: 8px;
  /* Optional rounded corners */
}


.product_card__swiper_wrapper {
  position: relative;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.product_card__swiper {
  flex: 1;
}

.product_card__swiper_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product_card__wrapper__small {
  width: 100px;
  height: 80px;
  overflow: hidden;
  border-radius: 4px;

  @media (max-width: 768px) {
    width: 80px;
    height: 60px;
  }
}

.product_card__img__small {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* Center vertically */
  background-color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent background */
  border: none;
  cursor: pointer;
  z-index: 10;
  /* Ensure arrows are on top of the slider */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    /* Full opacity on hover */
  }

  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    transform: rotate(45deg);
    /* Default to "arrow-right" */
  }
}

.arrow_left {
  left: -20px;

  &::before {
    transform: rotate(-135deg);
    /* Rotate for "arrow-left" */
  }
}

.arrow_right {
  right: -20px;

  &::before {
    transform: rotate(45deg);
    /* Default for "arrow-right" */
  }
}

@media (max-width: 768px) {
  .arrow {
    display: none;
    /* Hides both left and right arrows */
  }
}