@import "@/utils/vars.scss";
@import "@/utils/mixin.scss";


.product_card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 100px;
  flex-direction: column;


  @include min-width(medium-large) {
    flex-direction: row;

  }

}