@import '@/utils/mixin.scss';
@import '@/utils/vars.scss';


.product_card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 100px;

  &__right {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 779px;
    gap: 30px;
  }

  &__category {
    display: flex;
    gap: 30px;
    align-items: center;

    &__text {
      color: rgb(189, 189, 189);
      font-size: 16px;
      font-weight: 250;
      line-height: 18px;
    }

    &__img {
      rotate: 180deg;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 779px;
    gap: 30px;
  }

  &__category {
    display: flex;
    gap: 30px;
    align-items: center;

    &__text {
      color: rgb(189, 189, 189);
      font-size: 16px;
      font-weight: 250;
      line-height: 18px;
    }

    &__img {
      rotate: 180deg;
    }
  }

  &__title {
    color: $main-gray;
    font-size: 36px;
    font-weight: 800;
    line-height: 18px;
  }

  &__text {
    color: rgb(130, 130, 130);
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  }

  &__price {
    color: $burgundy;
    font-size: 36px;
    font-weight: 1000;
    line-height: 18px;
  }

  &__info {
    display: flex;
    gap: 24px;
    flex-direction: column;

    &__item {
      display: flex;
      gap: 24px;
    }

    &__title {
      color: rgb(189, 189, 189);
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      width: 84px;
    }

    &__text {
      color: $main-gray;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  &__functional {
    display: flex;
    gap: 34px;
  }

  &__fast_order {
    display: flex;
    max-height: 63px;
    position: relative;

    &__input {
      z-index: 10;
    }

    // width: 510px;

    &__button {
      position: absolute;
      right: 91px;
      // z-index: -10;
    }

    &__text {
      color: rgb(130, 130, 130);
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
    }
  }

  &__review {
    display: flex;
    gap: 70px;
    align-items: center;

    color: rgb(130, 130, 130);
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

    &__text {
      color: rgb(130, 130, 130);
      font-family: Museo Sans Cyrl;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}