@import "../../utils/vars.scss";
@import "../../utils/mixin.scss";

.basket {
  display: flex;
  align-items: center;

  border: 1px solid $burgundy;

  padding: 0 15px;
  gap: 15px;

  @include min-width(small) {
    padding: 0 63px;
    gap: 63px;
  }

  &__couple {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;

    @include min-width(small) {
      flex-direction: row;
      gap: 63px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__image {
    width: 60px;
    height: 90px;

    @include min-width(small) {
      width: 100px;
      height: 156px;
    }
  }

  &__name {
    color: $main-gray;

    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;

    @include min-width(small) {
      flex-wrap: nowrap;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0%;
    }
  }

  &__price {
    color: $main-gray;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;

    display: none;

    @include min-width(small) {
      display: block;
    }
  }

  &__total {
    color: $main-gray;
    flex-shrink: 0;
    flex-wrap: nowrap;
    font-size: 13px;
    font-weight: 700;

    @include min-width(small) {
      font-size: 16px;
    }
  }
}
