@import "../../utils/mixin.scss";

.basket {

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 1200px) {
    flex-direction: row;
    align-items: normal;
    gap: unset;
    padding: 20px;
  }

  &__container {
    // display: flex;
    // flex-direction: column;
    // gap: 20px;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__naming {
    color: rgb(189, 189, 189);
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;

    &_flower {
      position: absolute;
      top: -26px;
      left: 230px;
    }

    &_price {
      position: absolute;
      top: -26px;
      left: 437px;
    }

    &_count {
      position: absolute;
      top: -26px;
      left: 576px;
    }

    &_total {
      position: absolute;
      top: -26px;
      left: 712px;
    }
  }
}