.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.banner_block__wrapper {
  margin-bottom: 115px;
}

.swiper_block__wrapper {
  margin-bottom: 140px;
}

.info_block__wrapper {
  margin-bottom: 115px;
}