$breakpoint-xs: 440px;
$breakpoint-small: 820px;
$breakpoint-medium: 1024px;
$breakpoint-medium-large: 1350px;
$breakpoint-large: 1600px;
$breakpoint-extra-large: 1920px;

@mixin min-width($breakpoint) {
  @if ($breakpoint ==xs) {
    @media (min-width: $breakpoint-xs) {
      @content;
    }
  }

  @else if ($breakpoint ==small) {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  }

  @else if ($breakpoint ==medium) {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  }

  @else if ($breakpoint ==medium-large) {
    @media (min-width: $breakpoint-medium-large) {
      @content;
    }
  }

  @else if ($breakpoint ==large) {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  }

  @else if ($breakpoint ==extra-large) {
    @media (min-width: $breakpoint-extra-large) {
      @content;
    }
  }
}