@import "../../utils/vars.scss";
@import "../../utils/mixin.scss";

.basket {
  &__order {
    padding: 20px;
    gap: 70px;
    width: 96%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;

    border: 1px solid $burgundy;

    // @include min-width(small) {
    //   width: 70%;
    //   padding: 20px 63px;
    // }

    max-width: 600px;
    align-self: center;

    @media (min-width: 1200px) {
      width: 415px;
      height: 450px;
      align-self: flex-start;
    }
  }

  &__title {
    font-size: 36px;
    color: $burgundy;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    // gap: 150px;
    gap: 30px;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__text {
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      color: $light-gray;
    }

    &__price {
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      color: $main-gray;
    }
  }

  &__total {
    display: flex;
    // gap: 110px;
    justify-content: space-around;
    gap: 30px;

    &__text {
      color: $main-gray;
      font-size: 24px;
      font-weight: 300;
      line-height: 18px;
    }

    &__price {
      color: $main-gray;
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
    }
  }
}
